<table>
    <td>Name</td>
  <td>ICP</td>
  <td>Start Date</td>
  <td>End Date</td>
  <td>Total</td>
<% @images.each do |img|%>
<tr>
  <td><%= img.name%></td>
  <td><%= img.icp%></td>
  <td><%= img.start_date%></td>
  <td><%= img.end_date%></td>
  <td><%= img.total%></td>
</tr>
<% end %>
</table>

