<div class="col-md-12 bg-otr p-0">
  <div class="col-md-12 svg-sec float-left">
    <div class="col-md-12 p-0">
                  <nav class="navbar navbar-dark bg-transparent">
                    <div class="container contr-otr">
                        <a class="navbar-brand" href="#"><img src="/assets/logo.png"></a>
                       <ul class="navbar-nav ml-auto log-sec d-flex">
                          <li class="nav-item active">
                            <a class="nav-link" href="#">Login</a>
                          </li>
                           <li class="nav-item active">
                            <a class="nav-link" href="#">Signup</a>
                          </li>
                      </ul>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarsExample01">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </li>
                        </ul>
                        <form class="form-inline my-2 my-md-0">
                          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        </form>
                      </div>
                      </div>
                    </nav>
                </div>
    <div class="container">
      <table>
        <td style="color: white;">Name</td>
      <td style="color: white;">ICP</td>
      <td style="color: white;">Start Date</td>
      <td style="color: white;">End Date</td>
      <td style="color: white;">Total</td>
    <% @images.each do |img|%>
    <tr>
      <td style="color: white;"><%= img.name%></td>
      <td style="color: white;"><%= img.icp%></td>
      <td style="color: white;"><%= img.start_date%></td>
      <td style="color: white;"><%= img.end_date%></td>
      <td style="color: white;"><%= img.total%></td>
    </tr>
    <% end %>
    </table>
    </div>
</div>
</div>
