<!--  <%#= form_for(@image, remote: true, url: home_index_path, method: 'post') do |f| %>
  <%#= f.file_field :image %>
      <%#= f.submit %>
  <%# end %>
<%#= link_to 'Convert', convert_home_index_path %> -->

<div class="col-md-12 bg-otr p-0">
            <div class="col-md-12 svg-sec float-left">
            <div class="col-md-12 p-0">
                  <nav class="navbar navbar-dark bg-transparent">
                    <div class="container contr-otr">
                        <a class="navbar-brand" href="#"><img src="/assets/logo.png"></a>
                       <ul class="navbar-nav ml-auto log-sec d-flex">
                          <li class="nav-item active">
                            <a class="nav-link" href="#">Login</a>
                          </li>
                           <li class="nav-item active">
                            <a class="nav-link" href="<%= image_home_index_path%>">Signup</a>
                          </li>
                      </ul>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarsExample01">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </li>
                        </ul>
                        <form class="form-inline my-2 my-md-0">
                          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        </form>
                      </div>
                      </div>
                    </nav>
                </div>
                <div class="col-md-12 p-0 file-upload-section">
                    <div class="container contr-otr">
                        <div class="otr-upload">
                          <div class="upload-sec">
                            <h3 class="text-center">File sharing and storage</h3>
                            <h4 class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</h4>
                              <div class="col-md-12 float-left">
                                <div class="container contr-otr-sec">
                                    <div class="col-md-12 upload-inner">
                                      <div class="col-md-12 detail-otr">
                                        <%= form_tag("/file_processing", method: 'post', remote: true ) do %>
                                        <div class="fil-otr upld-fl">
                                          <%= file_field_tag 'the_file',id: 'files', multiple: true %>
                                          <div class="cst-otr"><label for="files" class="custom-file-upload">
                                                <i class="fa fa-cloud-upload"></i> Select Files to Upload
                                            </label>
                                          </div>
                                          <div class="fl-out">
                                            <div >
                                              <%= submit_tag 'Upload' , class: 'upload-btn'%>
                                            </div>
                                          </div>
                                        </div>
                                      <% end %>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-12 section-bt float-left">
                    <h3 class="text-center">How To Work</h3>
                    <%#= link_to 'Convert', convert_home_index_path %>
                    <%#= link_to 'List', list_home_index_path%>
                            <h4 class="text-center">Lorem Ipsum has been the industry's standard dummy text ever</h4>
                </div>
        </div>



          </div><script>
  $(document).ready(function() {
  if (window.File && window.FileList && window.FileReader) {
    $("#files").on("change", function(e) {
       //alert();
        //var get_length2 = $this.closest('.fl-out').find('.pip').length;
        //alert( get_length2 );
      var files = e.target.files,
        filesLength = files.length;
      for (var i = 0; i < filesLength; i++) {
        var f = files[i]
        var fileReader = new FileReader();
        fileReader.onload = (function(e) {
          var file = e.target;
          $("<div class=\"pip\">" + "<div class=\"imgout\">" +
            "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" + "</div>" +
            "<span class=\"remove\" onclick='renoveEl(this)'>Remove</span>" +
            "</div>").appendTo(".fl-out");
          var get_length2 = $('.fl-out').find('.pip').length;
          //renoveEl();
          if( filesLength > 0 ){
            $('.upload-btn').show();
          }
          //$('.upload-btn2').show();
        });
        fileReader.readAsDataURL(f);
      }
       // $(document).on('click', '.pip .remove', function(e){
       //      $this = $(this);
       //      //$this.closest('.fl-out').html('');
       //      $this.closest(".pip").remove();
       //      var get_length = $this.closest('.fl-out').find('.pip').length;
       //      if( get_length == 0 ){
       //         alert(get_length);
       //      }
       //      else{
       //          alert('Hi.');
       //      }
       //  });
    });
  } else {
    alert("Your browser doesn't support to File API")
  }
});

function renoveEl(e){
//$(".remove").click(function(){
                $this = $(e);
                var get_length = $this.closest('.fl-out').find('.pip').length;
                //$('.upload-btn').show();
                //alert('first' + get_length);
                if( get_length > 1 ){
                    $this.closest(".pip").remove();
                    $('.upload-btn').show();
                }
                else{
                    alert(get_length);
                    $this.closest(".pip").remove();
                    $('.upload-btn').hide();
                    //$this.closest('.fl-out').html('');
                }
              //});
            }

</script>







